/* =================================== 
generals 
=================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'inter-reg';
    src: url(../fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: 'inter-light';
    src: url(../fonts/Inter-Light.ttf);
}

@font-face {
    font-family: 'inter-bold';
    src: url(../fonts/Inter-Bold.ttf);
}

html {
    font-family: 'inter-light';
    font-size: 10px;
}

h2 {
    font-family: 'inter-bold';
    font-size: 8rem;
    text-transform: uppercase;
}

h3 {
    font-size: 2.4rem;
    color: #FE8686;
    text-transform: uppercase;
}

h4 {
    font-family: 'inter-bold';
    font-size: 1.8rem;
}

h5 {
    font-size: 1.8rem;
}

p {
    font-size: 1.6rem;
}

/* =================================== 
header 
=================================== */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4vh 3vw;
}

header p {
    font-size: 2rem;
    color: #FE8686;
}

header nav {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

header nav a {
    font-size: 1.8rem;
    color: black;
    text-decoration: none;
}

header nav .nav-button {
    background-color: #FE8686;
    color: #fff;
    padding: 5px 40px;
}

/* =================================== 
main intro-n-img
=================================== */

main .intro-n-img {
    margin: 13vh 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .intro-n-img article {
    width: 50%;
}

main .intro-n-img article h1 {
    width: 70%;
    font-family: 'inter-bold';
    font-size: 12rem;
    text-transform: uppercase;
}

main .intro-n-img article h4 {
    font-size: 1.8rem;
    font-family: 'inter-light';
    text-transform: uppercase;
}

main .intro-n-img article a {
    display: inline-block;
    font-family: 'inter-bold';
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    background-color: #FE8686;
    padding: 5px 60px;
    border-radius: 1.8px;
    margin-top: 6vh
}

main .intro-n-img div img {
    width: 100%;
    outline: 4px solid #FE8686;
    outline-offset: -20px;
    border: 10px solid transparent;
    border-width: 0px 40px 40px 0px;
}

/* =================================== 
main about-me
=================================== */

main .about-me {
    margin: 20vh 15% 20vh 0;
    padding: 5vh 0 3vh 15%;
    border: 4px solid #FE8686;
    border-left: none;
    display: flex;
    justify-content: space-between;
}

main .about-me div {
    margin: 1vh 8vw 0 8vw;
} 

main .about-me div a {
    display: inline-block;
    margin-top: 6vh;
}

/* =================================== 
main tech-stack
=================================== */

main .tech-stack {
    margin: 20vh 0% 20vh 15%;
    padding: 15vh 7.5% 15vh 7.5%;
    border: 4px solid #FE8686;
    border-right: none;
    display: flex;
    flex-direction: column;
}

main .tech-stack div {
    margin-top: 5vh;
} 

main .tech-stack div img {
    padding-right: 3vw;
}

/* =================================== 
main career-path
=================================== */

main .career-path {
    margin: 20vh 15%;
}

main .career-path .career-grid {
    margin: 5vh 0;
    display: grid;
    gap: 15px;
    list-style: inside;
    color: #fff;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "G1 ."
    "G2 G5"
    "G3 G6"
    "G4 G7"
    ". G8"
    ;
}

main .career-path .career-grid h2 {
    font-size: 4rem;
    color: #000;
}

main .career-path .career-grid li {
    font-size: 1.6rem;
}

.grid1 {
    grid-area: G1;
}

.grid2 {
    grid-area: G2;
}

.grid3 {
    grid-area: G3;
}

.grid4 {
    grid-area: G4;
}

.grid5 {
    grid-area: G5;
    display: flex;
    align-items: flex-end;
}

.grid6 {
    grid-area: G6;
}

.grid7 {
    grid-area: G7;
}

.grid8 {
    grid-area: G8;
}

main .career-path .career-grid .gridstyle-left {
    background-color: #FE8686; 
    padding: 2vh 2vw;
}

main .career-path .career-grid .gridstyle-right {
    background-color: rgba(254, 134, 134, 0.5);
    padding: 2vh 2vw;
}

/* =================================== 
main project-gallery
=================================== */

main .project-gallery {
    margin: 20vh 15%;
}

main .project-gallery .grid-gallery {
    margin: 5vh auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3vw;
}

main .project-gallery .grid-gallery img {
    border-radius: 24px;
    display: block;
}

/* =================================== 
main project-gallery overlay
=================================== */

.overlay-container {
    position: relative;
    width: max-content;
}

.overlay-container:hover p {
    height: 100%;
}

.overlay-container p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    background-color: rgba(254, 134, 134, 0.7);
    color: #fff;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s linear;
}

/* =================================== 
main testimonials
=================================== */

main .testimonials {
    margin: 20vh 15%;
}

main .testimonials .flex-testimonials {
    width: 80%;
    margin: 10vh auto;
    display: flex;
    align-items: center;
}

main .testimonials div img {
    width: 20%;
    outline: 3px solid #FE8686;
    outline-offset: -20px;
    border: 10px solid transparent;
    border-width: 0px 30px 30px 0px;
}

main .testimonials .flex-testimonials div:nth-of-type(1) {
    padding: 0 8vw;
}

main .testimonials .flex-testimonials div:nth-of-type(1) p {
    padding-bottom: 2vh;
}

